.error {
  background: rgba(218, 57, 57, 0.3) !important;
}

.helperText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #e36464;
  margin-top: 5px;
  padding-left: 10px;
}

.baseInput {
  background: rgba(215, 217, 214, 0.8);
  border-radius: 5px;
  border: none;
  height: 48px;
  transition: outline 0.2s;
  padding-left: 15px;
  color: #000000;
  font-size: 12px;
}

.baseInput::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}
.baseInput:active,
.baseInput:focus {
  outline: 1px solid #f5c678;
  caret-color: #000000;
  background-color: #ededed;
}

.baseInput:hover {
  background-color: #ededed;
}

