.loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  max-width: 490px;
  width: 100%;
}

.headerText {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 400;
  border-radius: 20px 20px 0 0;
  font-size: 40px;
  line-height: 63px;
  color: #ffff;
  min-height: 134px;
  padding-bottom: 16px;
  background-image: url('../../static/images/doggee-bg.svg');
}

.form {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.loginButton {
  height: 48px;
  margin-bottom: 100px;
}

.SignupContainer {
  text-align: center;
  margin-bottom: 15px;
}

.SignupContainer a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #f5c678;
  cursor: pointer;
}
